<div id="get-images-div">
    <div>
        <button id="click-me">Get Images</button>
    </div>
    <br>
    <div>
        <div>Номер страницы: <input type="number" value='' id="page-number"></div>
        <br>
        <div>Количество элементов: <input type="number" value="" id="count-number"></div>
    </div>

    <div id="result"></div>
</div>

<br>
<hr>
<br>


<div id="tasks-div">
    <div id="get-tasks-div">
        <button id="get-tasks">Get Tasks</button>
        <ul id="tasks-result"></ul>
    </div>

    <div id="create-update-tasks-div">
        <div>
            <button id="create-task-button">Create Task</button>
            <button id="update-task-button">Update Task</button>
        </div>
        <br>
        <div>
            <input type="text" id="create-task-input" value=""> - task title (for Create and Update required)
        </div>
        <br>
    </div>

    <div id="delete-task-div">
        <div>
            <input type="text" id="task-delete-id-input"> - task ID (for Update and Delete required)
        </div>
        <br>
        <div>
            <button id="delete-task-button">Delete Task</button>
        </div>
    </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="service.js"></script>
<script src="script.js"></script>